* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 1em 0;
}

#contenido {
    background-color: #ba9df4;
    width: min( 30em, 100% );
    margin: 1em auto;
    border-radius: 1px;
    border: solid 4px #c0a0c3;
    box-shadow: 20px 20px 30px 0px #8f7193;
    padding-bottom: 2em;
    padding-left: 0.5em;
}

#contenedor-campos {
    margin: 1em 0 0 0;
    padding-top: 1em;
}

.parte {
    font-weight: bold;
    font-size: 1.2em;
    margin: 1em 2em 0 2em;
}

#contener {
    display: flex;
}

.input-text {
    height: 2.4em;
    width: 100%;
    border: none;
    border-radius: .3em;
    margin-top: .8em;
    padding-left: .4em;
}

#errorValor {
    font-weight: bold;
    font-size: 1.4em;
}

#contenedor {
    margin-top: 5em;
}

#contenedor h1{
    text-align: center;
    font-size: 2em;
}

#atrox {
    margin: 1em 0;
}

#txtEnganche {
    background-color: white;
    height: 2em;
    width: 97.41%;
    border: solid 2px #a788ab;
    border-radius: .3em;
    margin-bottom: 1em;
    margin-top: .8em;
    margin: .8em 0 1em 0;
    font-size: .8em;
    padding-top: 5px;
}

#txtFinanciar {
    background-color: white;
    height: 2em;
    width: 97.41%;
    border: solid 2px #a788ab;
    border-radius: .3em;
    margin-bottom: 1em;
    margin-top: .8em;
    margin: .8em 0 1em 0;
    font-size: .8em;
    padding-top: 5px;
}

#cmbPlanes {
    background-color: white;
    height: 2em;
    width: 97.41%;
    border: solid 2px #a788ab;
    border-radius: .3em;
    margin-bottom: 1em;
    margin-top: .8em;
    margin: .8em 0 1em 0;
    font-size: .8em;
    padding-top: 5px;
}

#txtPago {
    background-color: white;
    height: 2em;
    width: 97.41%;
    border: solid 2px #a788ab;
    border-radius: .3em;
    margin-bottom: 1em;
    margin-top: .8em;
    margin: .8em 0 1em 0;
    font-size: .8em;
    padding-top: 5px;
}

#btnBotones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    #btnBotones {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }   
}

@media (max-width: 768px) {
    #btnLimpiar {
        background-color: #bc98f3;
        text-decoration: none;
        border: solid 2px #d3bcf6;
        text-transform: uppercase;
        font-size: 1.5em;
        font-weight: bold;
        color: black;
        padding: .6em;
        border-radius: .2em;
        margin: 1em 0 0em 0;
        width: 90%;
    }
}

#btnLimpiar {
    background-color: #bc98f3;
    text-decoration: none;
    border: solid 2px #d3bcf6;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    padding: .6em;
    border-radius: .2em;
    margin: 1em 0 0em 0;
}

@media (max-width: 768px) {
    #btnCalcular {
    background-color: #bc98f3;
    text-decoration: none;
    border: solid 2px #d3bcf6;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    padding: .6em;
    border-radius: .2em;
    margin: 1em 0 0em 2em;
    width: 90%; 
    }
}

#btnCalcular {
    background-color: #bc98f3;
    text-decoration: none;
    border: solid 2px #d3bcf6;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    padding: .6em;
    border-radius: .2em;
    margin: 1em 0 0em 0em;
}

#btnCalcular:hover {
    cursor: pointer;
}

#btnLimpiar:hover {
    cursor: pointer;
}
